@import url('../../assets/style/global.css');
.footer {
  width: 100%;
  background: var(--primary);
  color: white;
  display: flex;
  flex-direction: column;
 
}

.footerArea {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  padding: 50px 0px;
  margin: 0 auto;
}

.info {
  flex: 1;
}

.aboutUs h3 {
  font-size: var(--font-size-2xl);
  margin-bottom: 10px;
}

.aboutUs p {
  font-size: var(--font-size-lg);
  line-height: 1.5;
  color:var(--text-light);
}

.followText {
  margin-top: 20px;
  font-weight: bold;
  font-size: var(--font-size-lg);
}

.imgs {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  filter: invert(1);
}

.imgs img {
  width:auto;
  height: 50px;
  padding: 8px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, background 0.2s;
}

.imgs img:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.3);
}

.column h3 {
  font-size: var(--font-size-2xl);
  margin-bottom: 15px;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 10px;
  font-size: var(--font-size-lg);
  color: var(--text-light);
}

.quickAccess {
  margin-top: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.buttons button {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
  font-size: var(--font-size-md);
  cursor: pointer;
  transition: 0.2s;
}

.buttons button:hover {
  background: var(--alert);
  color: #1b2850;
}

.copy {
  background: #1b2850;
  text-align: center;
  padding: 15px;
  font-size: var(--font-size-xs);
  color: var(--text-light);
}
